<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>DetailCar</title>
</head>

<body>
    <div th:insert="basicfrag :: navFrag"></div>

    <h1 class="display-4 subtitle-display">Car Detail Information</h1><br/>

    <button type="button" class="btn btn-default">
        <a href="/listcar">
        <span class="glyphicon glyphicon-arrow-left"> Close</span></a>
    </button>


<div class="card bg-light mb-3" style="width: 100%">
    <div class="card-body">
        <div class="row">
            <div class="col-3">Maker:</div>
            <div class="col-9"><p th:text="${car.maker}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Model:</div>
            <div class="col-9"><p th:text="${car.model}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Color:</div>
            <div class="col-9"><p th:text="${car.color}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Category:</div>
            <div class="col-9"><p th:text="${category.title}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">Quantity:</div>
            <div class="col-9"><p th:text="${car.qty}"></p></div>
        </div>
    </div>
</div>


<div th:insert="basicfrag :: copyFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>

</body>
</html>