<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>ErrorMsg</title>
</head>
<body>
<div th:insert="basicfrag :: navFrag"></div>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 title-display">ERROR MESSAGE</h1>
</div>
<div>
    <p type="text">

        ID:${id}


    </p>
    <br/>

</div>




<div th:insert="basicfrag :: copyFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>



</body>
</html>