<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>Home</title>
</head>


<body>
<div th:insert="basicfrag :: navFrag"></div>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 title-display">Welcome to the Springboot Dealership</h1>
</div>

<div class="container" id="imgcontainer">
    <img src="https://wallpaperaccess.com/full/5379.jpg" alt="car image">
</div>

<div th:insert="basicfrag :: copyFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>