<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>


<body>
    <div type="container">
        <h2>Inventory</h2>
        <div th:each="item : ${allcategories}">
            <h2 th:text="${item.title}"></h2>
            <ul>
                <h3 th:text="${#lists.size(allcars)>0}?'There are':'No available cars'"></h3>
                <th:block th:each="car : ${allcars}">
                    <li th:inline="text"><b>[[${car.title}]]</b>: [[${car.qty}]] [[${car.color}]]</li>
                </th:block>
            </ul>
        </div>
    </div>
</body>
</html>