<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>Update</title>
</head>
<body>
<div th:insert="basicfrag :: navFrag"></div>

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 title-display">Car Listing</h1>
</div>
<form th:action="@{/processcar}" th:object="${car}" method="post">
    <div class="container">
        <input th:field="*{id}" type="hidden">
        Maker:<input th:field="*{maker}" type="text"><br/>
        Model:<input th:field="*{model}" type="text"><br/>
        Color:<input th:field="*{color}" type="text"><br/>
        Quantity:<input th:field="*{qty}" type="text"><br/>
        Category:<select th:field="*{category}" multiple>

        <option th:each ="item:${allcategories}"
                th:text="${item.title}"
                th:value="${item.id}">
        </option>
    </select>
    </div>
    <br/>
    <input type="submit" value="Submit"/>
</form>




<div th:insert="basicfrag :: copyFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>



</body>
</html>